# Игнорируем виртуальные окружения
.venv/
venv/
ENV/

# Игнорируем папки с тяжелыми базами данных
qdrant_storage/
postgres_storage/

# Игнорируем фронтенд (у него своя сборка в папке ui)
ui/

# Игнорируем логи и системные файлы Mac
*.log
.DS_Store
.git/
.idea/
.vscode/