# --- НАСТРОЙКИ КЛЮЧЕЙ ИИ (ОБЯЗАТЕЛЬНО К ЗАПОЛНЕНИЮ) ---
# Ваш секретный ключ для доступа к LLM моделям через OpenRouter
OPENROUTER_API_KEY=your_openrouter_api_key_here

# --- НАСТРОЙКИ ОСНОВНОЙ БАЗЫ ДАННЫХ POSTGRESQL ---
# Данные для инициализации СУБД (будут созданы автоматически внутри Docker)
PG_DB=mydb
PG_USER=myuser
PG_PASSWORD=mypassword
PG_HOST=localhost
PG_PORT=5432

# --- НАСТРОЙКИ АНАЛИТИКИ LANGFUSE ---
# БД для Langfuse
LF_PG_USER=langfuse
LF_PG_PASSWORD=langfuse_password
LF_PG_DB=langfuse

# Ключи доступа к панели Langfuse (можно оставить дефолтными для локального теста)
LANGFUSE_SECRET_KEY="sk-lf"
LANGFUSE_PUBLIC_KEY="pk-lf"
LANGFUSE_BASE_URL="http://localhost:3000"
LANGFUSE_HOST="http://localhost:3000"
LANGFUSE_MEDIA_UPLOAD_ENABLED="False"

# --- НАСТРОЙКИ ПРИЛОЖЕНИЯ ---
# Дефолтная ИИ-модель для генерации SQL-запросов
MODEL="deepseek/deepseek-chat"
# Разрешенные адреса для CORS-политики бэкенда
ORIGIN=*
QDRANT_URL="http://localhost:6333"
SYSTEM_DB_NAME=tts_system_db

