# === Python & Окружение ===
.venv/                  # Локальное виртуальное окружение uv (самое главное!)
__pycache__/            # Кэш скомпилированного байт-кода
*.py[cod]               # Файлы байт-кода
*$py.class
.pytest_cache/          # Кэш тестов
.mypy_cache/            # Кэш статического анализатора типов
.ruff_cache/            # Кэш линтера Ruff

# === Данные и Локальные БД ===
*.db                    # Локальные базы SQLite
*.sqlite
data/                   # Скрываем папку с сырыми данными для RAG
.chroma/                # Кэш векторной базы данных Chroma
.qdrant/                # Кэш векторной базы Qdrant
.qdrant_storage/
postgres_storage/
.env 
qdrant_storage/
.postgres_storage/
info/


# === Секреты и Переменные окружения ===
.env                    # Ключи OpenAI, DeepSeek, пароли к БД
.env.local

# === Операционная система ===
.DS_Store
Thumbs.db
