# Игнорируем локально установленные пакеты Mac
node_modules/

# Игнорируем папки локальной сборки фронтенда
.next/
out/
build/
dist/

# Системные файлы и логи Mac
*.log
.DS_Store
.git/
.idea/
.vscode/